@font-face { font-family: 'Neue Haas Grotesk'; src: url('./assets/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayXXThin.ttf'); font-weight: 100; font-style: normal; }
@font-face { font-family: 'Neue Haas Grotesk'; src: url('./assets/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayXXThinItalic.ttf'); font-weight: 100; font-style: italic; }
@font-face { font-family: 'Neue Haas Grotesk'; src: url('./assets/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayXThin.ttf'); font-weight: 200; font-style: normal; }
@font-face { font-family: 'Neue Haas Grotesk'; src: url('./assets/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayXThinItalic.ttf'); font-weight: 200; font-style: italic; }
@font-face { font-family: 'Neue Haas Grotesk'; src: url('./assets/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayThin.ttf'); font-weight: 300; font-style: normal; }
@font-face { font-family: 'Neue Haas Grotesk'; src: url('./assets/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayThinItalic.ttf'); font-weight: 300; font-style: italic; }
@font-face { font-family: 'Neue Haas Grotesk'; src: url('./assets/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayLight.ttf'); font-weight: 400; font-style: normal; }
@font-face { font-family: 'Neue Haas Grotesk'; src: url('./assets/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayLightItalic.ttf'); font-weight: 400; font-style: italic; }
@font-face { font-family: 'Neue Haas Grotesk'; src: url('./assets/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayRoman.ttf'); font-weight: 500; font-style: normal; }
@font-face { font-family: 'Neue Haas Grotesk'; src: url('./assets/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayRomanItalic.ttf'); font-weight: 500; font-style: italic; }
@font-face { font-family: 'Neue Haas Grotesk'; src: url('./assets/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayMediu.ttf'); font-weight: 600; font-style: normal; }
@font-face { font-family: 'Neue Haas Grotesk'; src: url('./assets/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayMediumItalic.ttf'); font-weight: 600; font-style: italic; }
@font-face { font-family: 'Neue Haas Grotesk'; src: url('./assets/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayBold.ttf'); font-weight: 700; font-style: normal; }
@font-face { font-family: 'Neue Haas Grotesk'; src: url('./assets/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayBoldItalic.ttf'); font-weight: 700; font-style: italic; }
@font-face { font-family: 'Neue Haas Grotesk'; src: url('./assets/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayBlack.ttf'); font-weight: 900; font-style: normal; }
@font-face { font-family: 'Neue Haas Grotesk'; src: url('./assets/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayBlackItalic.ttf'); font-weight: 900; font-style: italic; }

:root {
  --sans: 'Neue Haas Grotesk', system-ui, sans-serif;

  font: 18px/145% var(--sans);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

#root {
  max-width: 100%;
  padding: 0 3rem;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

p {
  margin: 0;
}
